* {
    font-size: 1.5rem;
}

span {
    gap: 0.3rem;
    width: 100%;
    display: flex;
}

@media (any-pointer: coarse) {
    span.input {
        flex-wrap: wrap;
    }
}

input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem;
}

header {
    display: flex;
}

button {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
}

button.current {
    border-bottom-color: green;
}

section {
    display: none;
    padding-top: 0.3rem;
}

section.current {
    gap: 0.3rem;
    display: flex;
    flex-wrap: wrap;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 0.5rem;
}
