* {
    font-size: xx-large;
}

section {
    gap: 2px;
    display: flex;
    flex-direction: row;
}

input, button, textarea {
    flex: 1;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
}

@media (any-pointer: coarse) {
    * {
        font-size: xxx-large;
    }

    section {
        flex-direction: column;
    }
}
